flow.json
[
    {
        "id": "a9afdc70a2e5d4b1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9b45e67fa8074e6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ecda5b5de7efaca4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#aa250e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#aa250e",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#aa250e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ec3818",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#aa250e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "393bfa64574b616f",
        "type": "ui_group",
        "name": "test",
        "tab": "b9b45e67fa8074e6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f23dc27570c261f",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "27017",
        "dbName": "ros_db",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "",
        "advanced": "",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "c278f4432d7f2bd3",
        "type": "ui_group",
        "name": "html",
        "tab": "b9b45e67fa8074e6",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "02a16a1296900bd8",
        "type": "ui_tab",
        "name": "Deneme Tahtası",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1c8243b8c50bdaba",
        "type": "ui_group",
        "name": "deneme",
        "tab": "02a16a1296900bd8",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "861c18fce0d84cb0",
        "type": "ui_group",
        "name": "test123",
        "tab": "02a16a1296900bd8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebbec7bb15cc88da",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 620,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0c8f97c655f23ef7",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "insert the payload",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"data\":\"testtt\"}]",
        "payloadType": "json",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "ebbec7bb15cc88da"
            ]
        ]
    },
    {
        "id": "d6db4f77234a708c",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "update by data",
        "func": "msg.payload = [{ \"data\": \"test4\" }, { $set: { \"data2.subdata\": \"not ok\" }, $currentDate: { lastModified: true } }]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "ed31ea46ef8ec1df"
            ]
        ]
    },
    {
        "id": "ed31ea46ef8ec1df",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "updateOne",
        "output": "toArray",
        "name": "",
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c1ccec689c9cc458",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "d6db4f77234a708c"
            ]
        ]
    },
    {
        "id": "d857b11e7c87c574",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "delete by spec",
        "func": "msg.payload = [{ \"data\": \"testjkj\" }]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "793feff4adfc2cf6"
            ]
        ]
    },
    {
        "id": "ca4ecd6f08b1cc09",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "d857b11e7c87c574"
            ]
        ]
    },
    {
        "id": "793feff4adfc2cf6",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "deleteOne",
        "output": "toArray",
        "name": "",
        "x": 630,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4f8e1e04fe9eae3d",
        "type": "comment",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "info": "if the input of deleteMany is {} , it will delete all documents of collection",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "20525c2f65663497",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "find",
        "output": "toArray",
        "name": "",
        "x": 610,
        "y": 640,
        "wires": [
            [
                "3eaf5fe75af7bb66"
            ]
        ]
    },
    {
        "id": "6034fda6a3095f4d",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "find all and list",
        "func": "msg.payload = [{}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 640,
        "wires": [
            [
                "20525c2f65663497"
            ]
        ]
    },
    {
        "id": "a3f22c9ee28c33a6",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "6034fda6a3095f4d",
                "ee9d865c5e4f3949"
            ]
        ]
    },
    {
        "id": "26201b7f8d7eba21",
        "type": "ui_text",
        "z": "a9afdc70a2e5d4b1",
        "group": "393bfa64574b616f",
        "order": 1,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "List by Data",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "3eaf5fe75af7bb66",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "list maker",
        "func": "var size;\nvar ids = [];\nsize = Object.keys(msg.payload).length;\nfor (let index = 0; index < size; index++) {\n    ids[index] = msg.payload[index].data\n    \n}\nids = ids.join('\\r\\n')\nmsg.payload = ids;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 640,
        "wires": [
            [
                "26201b7f8d7eba21"
            ]
        ]
    },
    {
        "id": "6962395587e35fe9",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "815bce8a8b9f0b7b",
        "type": "ui_form",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "label": "",
        "group": "393bfa64574b616f",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Data:",
                "value": "data",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "data": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "3947011db6b8cc5d"
            ]
        ]
    },
    {
        "id": "3947011db6b8cc5d",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "function 4",
        "func": "msg.payload = [msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "6962395587e35fe9",
                "e68b2af54b8b68c4"
            ]
        ]
    },
    {
        "id": "e68b2af54b8b68c4",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "insertOne",
        "output": "toArray",
        "name": "",
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9f84fc4feea064ee",
        "type": "ui_button",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "group": "393bfa64574b616f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Güncelle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "6034fda6a3095f4d"
            ]
        ]
    },
    {
        "id": "65cd18d00b1b5332",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "findOne",
        "output": "toArray",
        "name": "",
        "x": 600,
        "y": 820,
        "wires": [
            [
                "f94cb918182a30b8",
                "b351e0139b27bc66",
                "cb5870c23467f944"
            ]
        ]
    },
    {
        "id": "ee9d865c5e4f3949",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "find all and list",
        "func": "msg.payload = [{\"data\":\"robot3\"}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 820,
        "wires": [
            [
                "65cd18d00b1b5332"
            ]
        ]
    },
    {
        "id": "f94cb918182a30b8",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 720,
        "wires": []
    },
    {
        "id": "7bcd323778dbc65b",
        "type": "ui_text",
        "z": "a9afdc70a2e5d4b1",
        "group": "393bfa64574b616f",
        "order": 1,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Latest Position",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1080,
        "y": 820,
        "wires": []
    },
    {
        "id": "b351e0139b27bc66",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "position stringify",
        "func": "msg.payload = \"x:\" + msg.payload.localisation.position.x + \"\\ny:\" + msg.payload.localisation.position.y + \"\\nz:\" + msg.payload.localisation.position.z\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 820,
        "wires": [
            [
                "7bcd323778dbc65b"
            ]
        ]
    },
    {
        "id": "8b88589cab704091",
        "type": "ui_template",
        "z": "a9afdc70a2e5d4b1",
        "group": "c278f4432d7f2bd3",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div {{msg.payload}}>\n\n<canvas id=\"drawCanvas\" width=\"600\" height=\"600\"></canvas>\n<script>\n    // Canvas elementini seçin\n    var canvas = document.getElementById('drawCanvas');\n    var context = canvas.getContext('2d');\n    \n    var backgroundImage = new Image();\n    backgroundImage.src = \"https://i.hizliresim.com/dhimtef.jpg\"\n \n    backgroundImage.onload = function(){\n        context.drawImage(backgroundImage, 0, 0);\n    }\n\n    var startX, startY, endX, endY;\n    \n    // Fare tıklama ve sürükleme olaylarını dinleyin\n    canvas.addEventListener('mousedown', function(e) {\n        context.clearRect(0, 0, canvas.width, canvas.height);\n        context.drawImage(backgroundImage, 0, 0);\n        startX = e.clientX - canvas.getBoundingClientRect().left;\n        startY = e.clientY - canvas.getBoundingClientRect().top;\n    });\n    \n    canvas.addEventListener('mouseup', function(e) {\n        var endX = e.clientX - canvas.getBoundingClientRect().left;\n        var endY = e.clientY - canvas.getBoundingClientRect().top;\n        \n        // Çizgiyi çiz\n        context.beginPath();\n        context.strokeStyle = 'red';\n        context.lineWidth = 2;\n        context.moveTo(startX, startY);\n        context.lineTo(endX, endY);\n\n        var angle = Math.atan2(endY - startY, endX - startX);\n        context.lineTo(endX - 10 * Math.cos(angle - Math.PI / 6), endY - 10 * Math.sin(angle - Math.PI / 6));\n        context.moveTo(endX, endY);\n        context.lineTo(endX - 10 * Math.cos(angle + Math.PI / 6), endY - 10 * Math.sin(angle + Math.PI / 6));\n        context.stroke();\n\n        context.beginPath();\n        context.lineWidth = 5;\n        context.arc(startX, startY, 5, 0, 2 * Math.PI, false);\n        context.strokeStyle = 'green';\n        context.fillStyle = 'green';\n        context.fill();\n        context.stroke();\n\n        context.beginPath();\n        context.lineWidth = 5;\n        context.arc(150, 150, 5, 0, 2 * Math.PI, false);\n        context.strokeStyle = 'blue';\n        context.fillStyle = 'blue';\n        context.fill();\n        context.stroke();\n\n        var angle_of_path = calculateAngle(startX, startY, endX, endY)\n        angle_of_path = angle_of_path.toFixed(2)\n\n        send_to_nodered(startY, startX, angle_of_path)\n        \n    });\n\n    function send_to_nodered(x, y, degree){\n        var message = {\n        x, y, degree\n        };\n        fetch('/test', {\n            method: 'POST',\n            body: JSON.stringify(message),\n            headers: {\n            'Content-Type': 'application/json'\n            }\n        })\n        .then(response => {\n        // Başarılı bir yanıt alındığında burada bir işlem yapabilirsiniz\n        })\n        .catch(error => {\n        console.error('Hata:', error);\n        });\n    }\n\n    function calculateAngle(x1, y1, x2, y2) {\n        // İki nokta arasındaki farkları hesaplayın\n        var deltaX = x2 - x1;\n        var deltaY = y2 - y1;\n        \n        // Açıyı radyan cinsinden hesaplayın\n        var radians = Math.atan2(deltaY, deltaX);\n        \n        // Radyanı dereceye çevirin\n        var degrees = radians * (180 / Math.PI);\n        \n        // Açıyı 0 ile 360 arasına getirin\n        if (degrees < 0) { degrees +=360; } \n        return degrees; \n    }\n\n</script>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "5995f3f6069f7131",
                "5425c385641a6f06"
            ]
        ]
    },
    {
        "id": "79bf060d37c9a9fd",
        "type": "http in",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "f49c0e36de046e82"
            ]
        ]
    },
    {
        "id": "322e83fc954cf4e8",
        "type": "ui_text",
        "z": "a9afdc70a2e5d4b1",
        "group": "c278f4432d7f2bd3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5995f3f6069f7131",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "x-y normalization and rotation",
        "func": "var x = -1*(((msg.payload.x/600)*26)-13);\nx = x.toFixed(2);\nx = parseFloat(x)\nmsg.payload.x = x;\nvar y = -1 * (((msg.payload.y / 600) * 26) - 13);\ny = y.toFixed(2);\ny = parseFloat(y)\nmsg.payload.y = y;\n\nvar tempx = msg.payload.x\nvar tempy = msg.payload.y\nmsg.payload.x = -1 * tempy\nmsg.payload.y = tempx\n\nvar position_temp = { x: msg.payload.x, y: msg.payload.y, degree: msg.payload.degree }\nvar obj = { position: position_temp}\n\n\nfunction degreesToRadians(degrees) {\n    return (360 - degrees) * (Math.PI / 180);\n}\n\nfunction eulerToQuaternion(rollDegrees, pitchDegrees, yawDegrees) {\n    const roll = degreesToRadians(rollDegrees);\n    const pitch = degreesToRadians(pitchDegrees);\n    const yaw = degreesToRadians(yawDegrees);\n\n    const cy = Math.cos(yaw * 0.5);\n    const sy = Math.sin(yaw * 0.5);\n    const cp = Math.cos(pitch * 0.5);\n    const sp = Math.sin(pitch * 0.5);\n    const cr = Math.cos(roll * 0.5);\n    const sr = Math.sin(roll * 0.5);\n\n    const qw = cr * cp * cy + sr * sp * sy;\n    const qx = sr * cp * cy - cr * sp * sy;\n    const qy = cr * sp * cy + sr * cp * sy;\n    const qz = cr * cp * sy - sr * sp * cy;\n\n    var orientation = { x: qx, y: qy, z: qz, w: qw }\n\n    return { orientation };\n}\n\nvar orient = eulerToQuaternion(0, 0, msg.payload.degree)\n\nmsg.payload = Object.assign(obj, orient)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1020,
        "wires": [
            [
                "d6a5f6984fe081e0",
                "a45d10ad9555a9f7",
                "9710a54b6f3c27a4",
                "c0fc8720c445b3a7"
            ]
        ]
    },
    {
        "id": "d6a5f6984fe081e0",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "target to string",
        "func": "msg.payload = \"x:\" + msg.payload.position.x + \"\\ny:\" + msg.payload.position.y + \"\\nangle:\" + msg.payload.position.degree\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1120,
        "wires": [
            [
                "322e83fc954cf4e8"
            ]
        ]
    },
    {
        "id": "9710a54b6f3c27a4",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "orient object to string",
        "func": "msg.payload = \"x:\" + msg.payload.orientation.x + \"\\ny:\" + msg.payload.orientation.y + \"\\nz:\" + msg.payload.orientation.z + \"\\nw:\" + msg.payload.orientation.w\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1020,
        "wires": [
            [
                "b6ac93708ed9b90c"
            ]
        ]
    },
    {
        "id": "b6ac93708ed9b90c",
        "type": "ui_text",
        "z": "a9afdc70a2e5d4b1",
        "group": "c278f4432d7f2bd3",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Orientation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c0fc8720c445b3a7",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "target update in db",
        "func": "msg.payload = [{ \"data\": \"robot3\" }, \n    {\n        $set: { \"position.x\": msg.payload.position.x, \"position.y\": msg.payload.position.y, \"position.z\": 0.0, \"orientation.x\": msg.payload.orientation.x, \"orientation.y\": msg.payload.orientation.y, \"orientation.z\": msg.payload.orientation.z, \"orientation.w\": msg.payload.orientation.w, \"target_executed\": 0}, \n    $currentDate: { lastModified: true } }]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1220,
        "wires": [
            [
                "831b75538f1e145f"
            ]
        ]
    },
    {
        "id": "831b75538f1e145f",
        "type": "mongodb4",
        "z": "a9afdc70a2e5d4b1",
        "clientNode": "5f23dc27570c261f",
        "collection": "ros_db_col",
        "operation": "updateOne",
        "output": "toArray",
        "name": "",
        "x": 1130,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "a45d10ad9555a9f7",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "debug of norm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 920,
        "wires": []
    },
    {
        "id": "5425c385641a6f06",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "http",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cd0805693d54eaea",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 150,
        "y": 1600,
        "wires": [
            [
                "23aeb091f23bb20b"
            ]
        ]
    },
    {
        "id": "f49c0e36de046e82",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "function 5",
        "func": "msg.payload.test = 150\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "8b88589cab704091",
                "f1652a557b38fb2c"
            ]
        ]
    },
    {
        "id": "f1652a557b38fb2c",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 940,
        "wires": []
    },
    {
        "id": "c0c8306e9bcceae2",
        "type": "ui_template",
        "z": "a9afdc70a2e5d4b1",
        "group": "1c8243b8c50bdaba",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div {{msg.payload}}>\n\n<canvas id=\"drawCanvas\" width=\"600\" height=\"600\"></canvas>\n<script>\n    // Canvas elementini seçin\n    var canvas = document.getElementById('drawCanvas');\n    var context = canvas.getContext('2d');\n    \n    var backgroundImage = new Image();\n    backgroundImage.src = \"https://i.hizliresim.com/dhimtef.jpg\"\n \n    backgroundImage.onload = function(){\n        context.drawImage(backgroundImage, 0, 0);\n    }\n\n    var startX, startY, endX, endY;\n    \n    // Fare tıklama ve sürükleme olaylarını dinleyin\n    canvas.addEventListener('mousedown', function(e) {\n        //context.clearRect(0, 0, canvas.width, canvas.height);\n        //context.drawImage(backgroundImage, 0, 0);\n        startX = e.clientX - canvas.getBoundingClientRect().left;\n        startY = e.clientY - canvas.getBoundingClientRect().top;\n    });\n    \n    canvas.addEventListener('mouseup', function(e) {\n        var endX = e.clientX - canvas.getBoundingClientRect().left;\n        var endY = e.clientY - canvas.getBoundingClientRect().top;\n        \n        // Çizgiyi çiz\n        context.beginPath();\n        context.strokeStyle = 'red';\n        context.lineWidth = 2;\n        context.moveTo(startX, startY);\n        context.lineTo(endX, endY);\n\n        var angle = Math.atan2(endY - startY, endX - startX);\n        context.lineTo(endX - 10 * Math.cos(angle - Math.PI / 6), endY - 10 * Math.sin(angle - Math.PI / 6));\n        context.moveTo(endX, endY);\n        context.lineTo(endX - 10 * Math.cos(angle + Math.PI / 6), endY - 10 * Math.sin(angle + Math.PI / 6));\n        context.stroke();\n\n        context.beginPath();\n        context.lineWidth = 5;\n        context.arc(startX, startY, 5, 0, 2 * Math.PI, false);\n        context.strokeStyle = 'green';\n        context.fillStyle = 'green';\n        context.fill();\n        context.stroke();\n\n        var angle_of_path = calculateAngle(startX, startY, endX, endY)\n        angle_of_path = angle_of_path.toFixed(2)\n\n        send_to_nodered(startY, startX, angle_of_path)\n    });\n\n    function send_to_nodered(x, y, degree){\n        var message = {\n        x, y, degree\n        };\n        fetch('/test2', {\n            method: 'POST',\n            body: JSON.stringify(message),\n            headers: {\n            'Content-Type': 'application/json'\n            }\n        })\n        .then(response => {\n        //başarılı mesajı buraya\n        })\n        .catch(error => {\n        console.error('Hata:', error);\n        });\n    }\n\n    function calculateAngle(x1, y1, x2, y2) {\n        // İki nokta arasındaki farkları hesaplayın\n        var deltaX = x2 - x1;\n        var deltaY = y2 - y1;\n        \n        // Açıyı radyan cinsinden hesaplayın\n        var radians = Math.atan2(deltaY, deltaX);\n        \n        // Radyanı dereceye çevirin\n        var degrees = radians * (180 / Math.PI);\n        \n        // Açıyı 0 ile 360 arasına getirin\n        if (degrees < 0) { degrees +=360; } \n        return degrees; \n    }\n\n</script>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 1440,
        "wires": [
            [
                "ffaf2230cf4dc28b",
                "d2033d351e8fcb5a"
            ]
        ]
    },
    {
        "id": "32a7b654a4c6af05",
        "type": "ui_text",
        "z": "a9afdc70a2e5d4b1",
        "group": "1c8243b8c50bdaba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Target",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ffaf2230cf4dc28b",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "x-y normalization and rotation",
        "func": "var x = -1*(((msg.payload.x/600)*26)-13);\nx = x.toFixed(2);\nx = parseFloat(x)\nmsg.payload.x = x;\nvar y = -1 * (((msg.payload.y / 600) * 26) - 13);\ny = y.toFixed(2);\ny = parseFloat(y)\nmsg.payload.y = y;\n\nvar tempx = msg.payload.x\nvar tempy = msg.payload.y\nmsg.payload.x = -1 * tempy\nmsg.payload.y = tempx\n\nvar position_temp = { x: msg.payload.x, y: msg.payload.y, degree: msg.payload.degree }\nvar obj = { position: position_temp}\n\n\nfunction degreesToRadians(degrees) {\n    return (360 - degrees) * (Math.PI / 180);\n}\n\nfunction eulerToQuaternion(rollDegrees, pitchDegrees, yawDegrees) {\n    const roll = degreesToRadians(rollDegrees);\n    const pitch = degreesToRadians(pitchDegrees);\n    const yaw = degreesToRadians(yawDegrees);\n\n    const cy = Math.cos(yaw * 0.5);\n    const sy = Math.sin(yaw * 0.5);\n    const cp = Math.cos(pitch * 0.5);\n    const sp = Math.sin(pitch * 0.5);\n    const cr = Math.cos(roll * 0.5);\n    const sr = Math.sin(roll * 0.5);\n\n    const qw = cr * cp * cy + sr * sp * sy;\n    const qx = sr * cp * cy - cr * sp * sy;\n    const qy = cr * sp * cy + sr * cp * sy;\n    const qz = cr * cp * sy - sr * sp * cy;\n\n    var orientation = { x: qx, y: qy, z: qz, w: qw }\n\n    return { orientation };\n}\n\nvar orient = eulerToQuaternion(0, 0, msg.payload.degree)\n\nmsg.payload = Object.assign(obj, orient)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1440,
        "wires": [
            [
                "9875bbf6ec114899",
                "7249edf743163517"
            ]
        ]
    },
    {
        "id": "9875bbf6ec114899",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "target to string",
        "func": "msg.payload = \"x:\" + msg.payload.position.x + \"\\ny:\" + msg.payload.position.y + \"\\nangle:\" + msg.payload.position.degree\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1540,
        "wires": [
            [
                "32a7b654a4c6af05"
            ]
        ]
    },
    {
        "id": "7249edf743163517",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "orient object to string",
        "func": "msg.payload = \"x:\" + msg.payload.orientation.x + \"\\ny:\" + msg.payload.orientation.y + \"\\nz:\" + msg.payload.orientation.z + \"\\nw:\" + msg.payload.orientation.w\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1440,
        "wires": [
            [
                "5338656eeb0f33e0"
            ]
        ]
    },
    {
        "id": "5338656eeb0f33e0",
        "type": "ui_text",
        "z": "a9afdc70a2e5d4b1",
        "group": "1c8243b8c50bdaba",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Orientation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d2033d351e8fcb5a",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5385968c1a25dd74",
        "type": "http in",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "url": "/test2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "c0c8306e9bcceae2"
            ]
        ]
    },
    {
        "id": "23aeb091f23bb20b",
        "type": "ui_template",
        "z": "a9afdc70a2e5d4b1",
        "d": true,
        "group": "861c18fce0d84cb0",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div {{msg.payload}}>\n    <canvas id=\"myCanvas\" width=\"300\" height=\"300\" style=\"border:1px solid red;\"></canvas>\n    <script>\n        var canvas2 = document.getElementById('myCanvas');\n        var context2 = canvas2.getContext('2d');\n\n        canvas2.addEventListener('mousedown', function(e) {\n            context2.beginPath();\n            context2.lineWidth = 5;\n            context2.arc(150, 150, 5, 0, 2 * Math.PI, false);\n            context2.strokeStyle = 'blue';\n            context2.fillStyle = 'blue';\n            context2.fill();\n            context2.stroke();            \n        });\n\n        (function(scope){\n            scope.$watch('msg',function(){\n                //context2.clearRect(0, 0, canvas2.width, canvas2.height);\n                context.font = \"30px Arial\";\n                context.fillText(scope.msg.payload, 150, 150);\n            })\n        })(scope)\n        \n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 1600,
        "wires": [
            [
                "b1ee30f2e0bfdfe5"
            ]
        ]
    },
    {
        "id": "b1ee30f2e0bfdfe5",
        "type": "debug",
        "z": "a9afdc70a2e5d4b1",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7afe4babdfa4bd55",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 150,
        "y": 1660,
        "wires": [
            [
                "23aeb091f23bb20b"
            ]
        ]
    },
    {
        "id": "6a9c869305f3e897",
        "type": "inject",
        "z": "a9afdc70a2e5d4b1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "23aeb091f23bb20b"
            ]
        ]
    },
    {
        "id": "76986a98d12deb25",
        "type": "function",
        "z": "a9afdc70a2e5d4b1",
        "name": "function 6",
        "func": "msg.payload.test = 30\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "cb5870c23467f944",
        "type": "ui_template",
        "z": "a9afdc70a2e5d4b1",
        "group": "861c18fce0d84cb0",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div {{msg.payload}}>\n    <script>\n        (function(scope){\n            scope.$watch('msg',function(){\n                //context2.clearRect(0, 0, canvas2.width, canvas2.height);\n                //context.font = \"30px Arial\";\n                //context.fillText(scope.msg.payload, 150, 150);\n                context.clearRect(0, 0, canvas.width, canvas.height);\n                context.drawImage(backgroundImage, 0, 0);\n                context.beginPath();\n                context.lineWidth = 3;\n                var tempx = ((((scope.msg.payload.localisation.position.x)/(+1))+13)/26)*600\n                var tempy = ((((scope.msg.payload.localisation.position.y)/(-1))+13)/26)*600\n                tempx = Math.round(tempx)\n                tempy = Math.round(tempy)\n                context.arc(tempx, tempy, 5, 0, 2 * Math.PI, false);\n                context.strokeStyle = 'blue';\n                context.fillStyle = 'red';\n                context.fill();\n                context.stroke();\n            })\n        })(scope)\n        \n    </script>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 720,
        "wires": [
            []
        ]
    }
]